<!DOCTYPE html>
<html>
<head>
	<title>Videos</title>

	<meta charset="utf-8">
	<meta name="description" content="BVLOGN personal website project that uses YouTube API to fetch the data">
	<meta name="keywords" content="HTML,CSS,EJS,JavaScript">
	<meta name="author" content="Bagus Nanda">

	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="lib/css/mdb.min.css" rel="stylesheet">

	<link href="css/video/video.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900i" rel="stylesheet">
</head>
<body>