<% include root/header.ejs%>
<% include partials/navbar.ejs%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">WEB BVLOGN</h1>
        <p class="lead">This is a personal web project created by Bagus Nanda.</p>
        
        <p>NDONESIAN, CURRENTLY IN GERMANY.</p> 
        <p>✉️ bagusnzz@gmail.com</p>
        <hr>
        <a href="/videos" class="btn btn-dark">See all videos</a>
    </div>
</div>
    
<% include root/footer.ejs%>